<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>OwnerUpload</title>
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">

<link rel="stylesheet" type="text/css" href="/static/css/mstyle.css">
</head>
<!--<body style="background-image:url(/static/images/bg.jpg);background-size:100%;">-->
<body style="background:#FAF0F0;background-size:100%;">
		<div style="height:128px;background:#FDF5F5" >
			<!--<img align="left" src= "/static/images/logo.gif" />-->
            <div style="display:flex;justify-content: flex-end;">        
			    <p id="user_label"> 用户名称</p>		
			    <p ><a  href="login">&nbsp;&nbsp;&nbsp; 登录/注册&nbsp;&nbsp;&nbsp;</a></p>		
			    <p align="right"><a  onclick="click_exit()"> 退出</a></p>		
            </div>
		</div>	
		<hr color="#009988" width= "100%"/>
                <form enctype="multipart/form-data" action="/upload" id = "form_upload"  method="POST" onsubmit="return false"> 
                <div style="display: flex;">
                    {% csrf_token %}
                    <select  name= 'type_select' id = "type_select"  class="margin" >        
                        <option value="animal">动物</option>
                        <option value="plant">植物</option>
                        <option value="people">人物</option>
                        <option value="color">颜色</option>
                    </select>
                    
					<input type="file" name="upload" id = "upload" class="inputBlock"/>
				
                    <button class="sureUpload"  onclick = "on_click_upload()"> 确认上传</button>
					<button class="sureUpload" name="update_image" onclick="on_click_update_image() "> 刷新图片</button>

                    </div>
                </form>
		<div>
 			<hr  color="#009988"/>
		</div>
		<div>
			<input />
				<button >增加类别</button>
		</div>
		
        <table  border="1px" width="96%">
            <tr  >             
                <td  class="image_size"><div class="block"><img id = "img1" src=  "/static/images/2.png" class="contain"/></div></td>
                <td  class="image_size"><div class="block"><img id = "img2" src=  "/static/images/2.png" class="contain"/></div></td>
                <td  class="image_size"><div class="block"><img id = "img3" src=  "/static/images/2.png" class="contain"/></div></td>
                <td  class="image_size"><div class="block"><img id = "img4" src=  "/static/images/2.png" class="contain"/></div></td>
                <td  class="image_size"><div class="block"><img id = "img5" src=  "/static/images/2.png" class="contain"/></div></td>
            </tr>
            
            <tr >             
                <td  class="image_size"><div class="block"><img id = "img6" src=  "/static/images/2.png" class="contain"/></div></td>
                <td  class="image_size"><div class="block"><img id = "img7" src=  "/static/images/2.png" class="contain"/></div></td>
                <td  class="image_size"><div class="block"><img id = "img8" src=  "/static/images/2.png" class="contain"/></div></td>
                <td  class="image_size"><div class="block"><img id = "img9" src=  "/static/images/2.png" class="contain"/></div></td>
                <td  class="image_size"><div class="block"><img id = "img10" src=  "/static/images/2.png" class="contain"/></div></td>
            </tr>
        </table>
		<hr>
        <div style="display:flex;justify-content: flex-end;">        
                <button class="nextLeft" onclick="on_click_update_image_pre() ">上一页</button>
                <input id = "page_no" width="32px" value="1"/>
                <button class="nextLeft" onclick="on_click_update_image_next() ">下一页</button>
        </div>
        <div>
        <hr>
        </div>
        <div width="100%">
		<p>免责声明：本站所有内容来源于互联网。如果本站部分内容侵犯您的权益，请您告知，站长会立即处理。<a href="http://www.miitbeian.gov.cn/" rel="nofollow">ICP备</a></p>
		<p>Copyright &copy 2010-2018 <a href="/" title="模板之家">图片中心</a>  | www.ouhuayu.top | &nbsp; &nbsp;</p>
		<p><br>站内所有资源仅供学习与参考，请勿用于商业用途，否则产生的一切后果将由您自己承担！</p>
        </div>

<!--
<table cellpadding='0' cellspacing='0' border='0' id="topMenu">
	<tr>
		<td valign="bottom" align="center" style="padding-bottom:5px;">
			<a href="http://www.mycodes.net"><img alt="Home" src="images/1.png" /></a>
			<a href="http://www.mycodes.net"><img alt="Music" src="images/2.png" /></a>
			<a href="http://www.mycodes.net"><img alt="Calendar" src="images/3.png" /></a>
			<a href="http://www.mycodes.net"><img alt="Email" src="images/4.png" /></a>
			<a href="http://www.mycodes.net"><img alt="Portfolio" src="images/5.png" /></a>
			<a href="http://www.mycodes.net"><img alt="Video" src="images/6.png" /></a>
			<a href="http://www.mycodes.net"><img alt="Link" src="images/7.png" /></a> 
		</td>
	</tr>
</table>
-->
<script src="/static/js/jquery-3.4.1.min.js"></script>
<!-- function-->
<script type="text/javascript">
	function changeImageType()
	{
		var keys=["img1","img2","img3","img4","img5","img6","img7","img8","img9","img10"]
		var id = document.getElementById("image_type");
        alert('changeImageType:' + id)
		var value = id.value;
		var key;
		for(var idx = 0;idx < 10;idx++)
		{
			key = keys[idx];
			var i = document.getElementById(key);
			if (value == "animal") 
			{
				i.src = "images/6.png";
			}
			else if (value == "plant") 
			{
				i.src = "images/7.png";
			}
			else 
			{
				i.src = "images/4.png";
			}
		
		}
		
	}
	
    function on_click_upload() {
        var ulabel = get_ulabel();
        if (ulabel == 'guest')
        {
            alert('非注册会员，不允许上传文件');
            return;
        }
        var form=document.getElementById("form_upload");
        var formData=new FormData(form);
        var type = document.getElementById("type_select")
        formData.append('type_select', type.value)
 
        var csrftoken = $("input[name$='csrfmiddlewaretoken']").val();
      
        $.ajax({

                type: "POST",
                dataType: "json",//预期服务器返回的数据类型
                url: "/upload" ,
                processData : false,
                data:  formData,
                contentType:false,
                headers:{'X-CSRFToken':csrftoken },
                success: function (result) {},
                error : function( XMLHttpRequest, textStatus, errorThrown) {alert(XMLHttpRequest.readyState + XMLHttpRequest.status + XMLHttpRequest.responseText);},
            });
       }

    function __update_image(data){
		    var keys=["img1","img2","img3","img4","img5","img6","img7","img8","img9","img10"]
            for(var i = 0;i< keys.length;i++){
                    key = keys[i];
                    var item = document.getElementById(key);
                    //console.log('key:'+key ); 
                    //console.log(item); 
                    value = data[key];
                    if (typeof(value) == "undefined")
                    {
                        item.style.visibility="hidden";
                        //console.log('is undef'); 
                    }
                    else {
                        item.src = value;
                        item.style.visibility="visible";
                    }
            }
            var page_no = document.getElementById("page_no");
            value = page_no.value;
            if (page_no.value * 1 != data['page_no'] * 1)
            {
                page_no.value = data['page_no'] * 1
            }
    }

    function on_click_update_image_next() {
        var page_no = document.getElementById("page_no");
        value = page_no.value;
        value = value *1 + 1;
        page_no.value = value;
        on_click_update_image();
    }

    function on_click_update_image_pre() {
        var page_no = document.getElementById("page_no");
        value = page_no.value;
        if (value > 1)
        {
            value = value * 1 -1;
        }
        page_no.value = value;
        on_click_update_image();
    }


    function on_click_update_image() {
    
        var keys=["img1","img2","img3","img4","img5","img6","img7","img8","img9","img10"]
        for(var i = 0;i< keys.length;i++){
            key = keys[i];
            var item = document.getElementById(key);
            item.style.visibility="visible";
        }
    
        var formData = new FormData();
        var type = document.getElementById("type_select");
        var page_no = document.getElementById("page_no");
        formData.append('type_select', type.value);
        formData.append('page_no', page_no.value);

        var csrftoken = $("input[name$='csrfmiddlewaretoken']").val();
      
        $.ajax({

                type: "POST",
                dataType: "json",//预期服务器返回的数据类型
                url: "/update_image" ,
                processData : false,
                data:  formData,
                contentType:false,
                headers:{'X-CSRFToken':csrftoken },
                success: function (data) {
                       //jdata = JSON.stringify(data);
                       console.log(data);
                       console.log('foreach');
                       
                     for(var key in data){ 
                       //console.log(key); 
                       value = data[key]
                       //console.log(value)
                     }
                     __update_image(data);
                    //console.log(result);
                },
                error : function( XMLHttpRequest, textStatus, errorThrown) {
                    //var s = {{ img0|safe }};
                    alert('err');
                                console.log(textStatus); 

                },
            });
    }
	
    function get_ulabel() {
        var ulabel = document.getElementById("user_label");
        return ulabel.innerText;
    }
	function login(){
        var ulabel = document.getElementById("user_label");
        var user = getCookie('user');//document.getElementById('user');
        var pwd = getCookie('pwd');//document.getElementById('pwd');
        var formData = new FormData();
        formData.append('user', user);
        formData.append('pwd', pwd);
        var csrftoken = $("input[name$='csrfmiddlewaretoken']").val();
        ulabel.innerText = 'guest';
        $.ajax({

                type: "POST",
                dataType: "json",
                url: "/login" ,
                processData : false,
                data:  formData,
                contentType:false,
                headers:{'X-CSRFToken':csrftoken },
                success: function (result) {
                    console.log(result);
                    get_user = result['user'];
                    rc = result['result'];
                    if (rc == 1)
                    {
                        login_result = '登录成功';
                        ulabel.innerText = get_user;
                    }
                    else if (rc == 3)
                        login_result = '登录失败,没有此用户';
                    else
                        login_result = '登录失败';                 
                },
                error : function( XMLHttpRequest, textStatus, errorThrown) {},
            });
       }
	   
       function click_exit(){
            delCookie('user');
            delCookie('pwd');
            delCookie('label');
       }
       
       function delCookie(name){
            setCookie(name,null,-1);
        };
	    function setCookie(name,value,day){
			var date = new Date();
			date.setDate(date.getDate() + day);
			document.cookie = name + '=' + value + ';expires='+ date;
		};

		//获取cookie
		function getCookie(name){
			var reg = RegExp(name+'=([^;]+)');
			var arr = document.cookie.match(reg);
			if(arr){
			return arr[1];
			}else{
			return '';
			}
		};
    <!-- init-->
    login();
    on_click_update_image();

</script>
</body>
</html>
