<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>asdfa</title>
</head>
<body>
    <form action="/search" method="get">
        <input type="text" name="q">
        <input type="text" name="qq">
        <input type="text" name="qqq">
        <input type="submit" value="搜索s">
    </form>
    
      <form action="/fuck" method="get">
        <input type="text" name="a">
        <input type="text" name="aa">
        <input type="text" name="aaa">
        <input type="submit" value="搜索f">
    </form>
</body>
</html>